* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
}
.logo {
    width: 50px;
    height: 50px;
    display: inline-block;
    justify-content: space-between;
    background-color: white;
}

h1 {
    float: right;
}

/* nav {
    display: flex;
    justify-content: space-between;
    margin-left: 400px;
} */

ul {
    /* display: flex;
    justify-content: space-between; */
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

.moi {
    margin-top: 30px;
    /* display: inline-block; */
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #333333;
}

.image {
    flex-basis: 10%;
}

.text {
    flex-basis: 60%;
    padding-left: 20px;
    color: whitesmoke;
}

img {
    width: 90px;
    height: 90px;
}
/* #moi1 {
    width: 90px;
    height: 90px;
} */

/* .moi p {
    float: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
} */

.t0{
    /* width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;
    display: inline-block;
}
.t0 img {
    width: 100%;
    height: 100%;
    display: block;
}

.t1 {
    width : 50%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.bd {
    margin-top : 70px;
    width : 50%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

button {
    background-color: #8874e2;
    border: none;
    width: 290px;
    height: 45px;
    border-radius: 4px;
    color: whitesmoke;
    margin-top: 5px;
    font-size: 18px;
    cursor: pointer;
}
button a {
    text-decoration:none;
}
button:hover{
    background-color: rgba(202, 28, 218, 0.9);
}

/* .cd {
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} */

/* .pushable {
    position: relative;
    background: transparent;
    padding: 0px;
    border: none;
    cursor: pointer;
    outline-offset: 4px;
    outline-color: deeppink;
    transition: filter 250ms;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.shadow {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsl(226, 25%, 69%);
    border-radius: 8px;
    filter: blur(2px);
    will-change: transform;
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background: linear-gradient(to right, hsl(248, 39%, 39%)0%, hsl(248, 39%, 49%)8%, hsl(248, 39%, 39%)92%, hsl(248, 39%, 29%)100%);
}

.front {
    display: block;
    position: relative;
    border-radius: 8px;
    background: hsl(248, 53%, 58%);
    padding: 16px 32px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 1rem;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.pushable:hover .front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:hover .shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
    outline: none;
} */

.t2 {
    background-color: gray;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
    height: 500px;
}

.t3 img {
    width:100%;
    height: 100%;
    grid-column: 1;
}

.t4 img {
    width:100%;
    height: 100%;
    grid-column: 2;
}

.t5 img {
    width:100%;
    height: 100%;
    grid-column: 3;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    color: darkgrey;
}

.service {
    display: flex;
    align-items: center;
    margin: 20px;
    justify-content: center;
}
.liste{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    width: 100%;
    height: 150px;
}

.main, .devlog, .devf, .devb {
    border-radius: 5px;
    background-color:hsl(226, 25%, 69%);
    align-items: center;
    /* height: 50%; */
    display:flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* Mon code du formulaire

.formulaire {
    height: 300px;
    background-color: antiquewhite;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

form {
    padding: 5px;
}

#v1, #v2, #v4, #v5{
    background-color: rgba(103, 103,103, 0.6);
    border: none;
    height: 45px;
    width: 270px;
    border-radius: 4px;
    outline: none;
    padding-left: 20px;
    color: whitesmoke;
    font-size: 16px;
    margin-bottom: 20px;
    display: block;
}

.formulaire p {
    margin-right: 0%;
    color: red;
}
 */
.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    background-image: url(img/gestion-autonome-de-son-site-internet.jpg);
    background-attachment: fixed;
}
form {
    width: 600px;
}
.form-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: black;
}
.form-group {
    display: flex;
    margin-bottom: 15px;
}
.form-group label {
    width: 150px;
    padding-right: 10px;
    color: black;
}
.form-group input, .form-group textarea {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.form-group textarea {
    resize: vertical;
}
.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.form-container button:hover {
    background-color: #218838;
}

.compet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    width: 100%;
    height: 400px;
    padding: 30px 50px;
    border: 2px solid wheat;
    background-image: url(img/fonctionnement-du-web.jpg);
    background-attachment: fixed;
    border-radius: 10px;
}

h2 {
    padding-top: 30px;
}

hr{
    height: 5px;
}
.social, .progra, .infog {
    border-radius: 5px;
    border: 2px solid gray;
    padding: 2px;
    width: 300px;
    background-color:white;
    opacity: 0.7;
}
.infog:hover{
    background-color: blue;
}
.progra:hover{background-color: yellow;}
.social:hover{background-color: green;}
.so, .pr, .di {
    margin-bottom: 20px;
    color: black;
    align-items: center;
    display: flex;
    justify-content: center;
}


.co {
    /* padding-right: 100%;
    padding-bottom: 20px; */
    color: #111111;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 20px;
}

.cop {
    background-color: rgba(238, 223, 223, 0.1);
}

footer {
    width: 100%;
    height: 300px;
    background-color: #add8e6;
    /* opacity: 0.5; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    margin-top: 30px;
    color: white;
}


.ct {
    /* display: flex;
    justify-content: center; 
    align-items: center; */
    /* width: 100%; */
    /* text-align: center; */
    background-color: #add8e6;
    opacity: inherit;
    height: inherit;
}

.re {
    background-color:#add8e6;
    opacity: inherit;
    width: 500px;
    margin: auto;
    height: 100%;
    margin-bottom: 40px;
}

.re p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}

.h {
    width: 100%;
}

.fi {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    background-color: #add8e6;
    margin-top: 40px;
    padding: 20px;
}

.fi img{
    width: 30px;
    height: 30px;
    margin-left: 40px;
} 

.lo {
    cursor: pointer;
}

/* --------------------------------------------nouveau test----------------------------------------------------- */

/* .t2{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    margin: 0;
    background-color: #f0f0f0;
}
.carrousel {
    position:relative;
    width: 80%;
    max-width: 600px;
    width: inherit;
    height: inherit;
    overflow: hidden;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.imaages img {
    width: 100%;
    display: block;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border:none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

button:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
} */
